/** @type {import('tailwindcss').Config} */
export default {
  content: ["./index.html", "./src/**/*.{js,ts,jsx,tsx}"],
  theme: {
    extend: {
      colors: {
        background: "#000000",
        surfaceCard: "#1C1C1E",
        surfaceLight: "#F2F2F7",
        accentVolt: "#D4FF00",
        runGreen: "#84E000",
        walkBlue: "#00B2FF",
        warningOrange: "#FF9500",
        textSecondary: "#8E8E93"
      }
    },
  },
  plugins: [],
}